.flexBox{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.flexBox div{
    margin: 10px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}
.colon{
    flex-direction: column;
}
.colon-reverse{
    flex-direction: column-reverse;
}
.row{
    flex-direction: row;
}
.row-reverse{
    flex-direction: row-reverse;
}
.self-align{
    height: 300px;
}
.self-align img:first-child {
    align-self: flex-start;
}
.self-align img:nth-child(2){
    align-self: center;
}
.self-align img:last-child {
    align-self: flex-end;
}
