main{
    padding: 100px 200px 100px 200px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
main img{
    margin: 30px;
    width: 200px;
    border: 2px solid deepskyblue;
}
.content{
    padding: 15px;
    background-color: rgba(255,255,255,0.5);
    border: 1px solid #282828;
}
.animationBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.formBox {
    position: relative;
}
.formBox img{
    position: absolute;
    top: 50px;
    right: 50px;
}
form{
    margin: 30px;
    width: 60%;
    display: flex;
    flex-direction: column;
}
input{
    height: 50px;
    margin-bottom: 30px;
    padding-left: 15px;
    border: 1px solid grey;
    border-radius: 5px;
}
